<div>
    <h1>{{message}}</h1>
    <ul>
        <li *ngFor="let color of colors">
            {{color}}
        </li>
    </ul>
   <form>
        <div>
            <label for="new-color-input">New color</label>
            <input id="new-color-input" type="text" name="newColor" [(ngModel)]="newColor" (keyup.enter)="addColor()">
        </div>
        <button type="button" (click)="addColor()">Add Color</button>
    </form>
</div>