<div>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of people | slice:startPerson:endPerson">
                <td>{{person.firstName}}</td>
                <td>{{person.lastName}}</td>
            </tr>
        </tbody>
    </table>
    <button #prevButton type="button" (click)="previousPage()">Prev</button>
    <button type="button" (click)="nextPage()">Next</button>
    <div>{{ prevButton.parentNode.innerHTML | json}}</div>
</div>